# KiCad Schematic source file
*.kicad_sch linguist-detectable=true
*.kicad_sch linguist-documentation=false
*.kicad_sch linguist-language=KiCad-Schematic

*.kicad_pcb linguist-detectable=true
*.kicad_pcb linguist-documentation=false
*.kicad_pcb linguist-language=KiCad-Layout

#*.kicad* linguist-language=KiCAD
#*.kicad_pcb linguist-detectable
